.row {
    display: flex;
    max-width: 1300px;
    margin: auto;
    padding-left: 90px;
    padding-right: 90px;
    align-items: center;
}

.col-2 {
    font-family: "Berlin Sans FB";
    color: white;
    flex-basis: 60%;
    min-width: 300px;
}

.col-2 h2 {
    padding-bottom: 30px;
    font-size: 40px;
    letter-spacing: 0.5px;
}

.col-2 p {
    letter-spacing: 0.5px;
    word-spacing: 5px;
    line-height: 30px;
}


.col-2 img {
    flex-basis: 40%;
    max-width: 100%;
    padding: 10% 0;
}