@font-face {
    font-family: "Berlin Sans FB";
    src: url("E:\Frontend\Sidebar") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "KZ Cooper";
    src: url("E:\Frontend\Sidebar") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "AA_Big Sky ttstd";
    src: url("E:\Frontend\Sidebar") format("truetype");
    font-style: normal;
    font-weight: normal;
}