.party_side {
    display: flex;
    align-items: center;
}

.text_side {
    font-family: "Berlin Sans FB";
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    min-width: 30%;
    min-height: 90%;
    margin-right: 5%;
}
.text {
    margin-left: 2em;
    margin-right: 2em;

}

.text_side h2 {
    padding-bottom: 30px;
    font-size: 40px;
    letter-spacing: 1px;
}

.text_side p {
    font-size: 25px;
    letter-spacing: 0.5px;
    word-spacing: 5px;
    line-height: 20px;
}

.img_side img {
    flex-basis: 50%;
    max-width: 100%;
    padding-bottom: 10%;
    padding-top: 10%;
    margin-left: 10%;
}