@import "../css/fonts.css";
@import "../css/form.css";
@import "../css/header-navbar.css";
@import "../css/links-hover.css";
@import "../css/title-block.css";
@import "../css/about-block.css";
@import "../css/cards-block-page3.css";
@import "../css/cards-block.css";
@import "../css/party-block-page3.css";
@import "../css/buttons.css";
@import "../css/footer.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: #f0f0f0;
}

.container, .party_side {
    width: 80%;
    margin: auto;
}

@media (max-width:991px) {
    .container, .party_side {
        width: 100%;
    }
    /* header */
    .topnav {
        display: block;
        height: 250px;
        padding-top: 2%;
        font-size: 2.5em;
    }
    .locations {
        position: absolute;
        width: 100%;
    }
    .icon_links {
        display: block;
    }
    .icon_links li {
        position: relative;
        display: block;
        bottom: 0;
    }
    .icon_links i {
        font-size: 2em;
        right: 0;
        margin-top: 300px;
        padding-right: 100px;
    }
    .navbar {
        display: block;
    }
    .logo img {
        width: 40%;
        padding-left: 40px;
    }
    .navbar {
        display: block;
    }
    .navbar nav {
        display: flex;
        text-align: center;
        padding-top: 2%;
        font-size: 3em;
    }
    .navbar nav li {
        padding: 20px;
    }
    .row {
        display: block;
    }
    .col-2 {
        min-width: 800px;
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .col-2 h2 {
        padding-bottom: 30px;
        font-size: 3em;
        letter-spacing: 0.5px;
    }
    .col-2 p {
        font-size: 30px;
        letter-spacing: 1px;
        word-spacing: 10px;
        line-height: 40px;
        padding-bottom: 2em;
    }
    .col-2 button {
        font-size: 2em;
        width: 300px;
        height: 100px;
        border-radius: 60px;
    }
    .col-2 img {
        display: none;
    }
    .party_side {
        display: block;
    }
    .text_side {
        min-width: 800px;
        margin-left: 10%;
        margin-right: 10%;
        padding-top: 5em;
    }
    .text_side button {
        font-size: 2em;
        width: 300px;
        height: 100px;
        border-radius: 60px;
    }
    .text_side h2 {
        font-size: 3em;
    }
    .text_side p {
        font-size: 2em;
        letter-spacing: 1px;
        word-spacing: 10px;
        line-height: 40px;
    }
    .img_side img {
        padding-bottom: 20px;
        margin: 0 25%  0;
    }
    .footer {
        height: auto;
    }

    .footer_items {
        flex-wrap: wrap;
    }

    .footer_items ul {
        font-size: 40px;
        padding: 60px;
    }
    .footer_items button {
        font-size: 30px;
        width: 300px;
        height: 100px;
        border-radius: 60px;
    }
}
