@import "fonts.css";
@import "header-navbar.css";
@import "style.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: #f0f0f0;
}

.container, .party_side {
    width: 80%;
    margin: auto;
}